# Python requirements for unit tests
-r ../requirements.txt
# alignak
-e git+https://github.com/Alignak-monitoring/alignak.git@develop#egg=alignak

# Use py.test as test-runner
pytest
pytest-cov
# Let coverage use the most recent version
coverage
# Report coverage results to coveralls.io
coveralls
# Static code analysis libraries
pylint
pep8
pep257
# Tests time freeze
freezegun
