# Python requirements for unit tests
-r ../requirements.txt
# alignak
-e git+https://github.com/Alignak-monitoring/alignak.git@develop#egg=alignak

unittest2
coveralls
nose-cov
coverage==4.0
nose
pylint
pep8
pep257
